@page "/"

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Error</title>
    <link href="~/first/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/first/css/app.css" rel="stylesheet" />
</head>

<body>
    <div class="main">
        <div class="content px-4">
            <h1>Welcome to multiple Blazor apps.</h1>
            <p>
                <a href="/first">Go to the first app</a>
            </p>
            <p>
                <a href="/second">Go to the second app</a>
            </p>
            <p>
                You could also add a redirect in Razor to the preferred app.
            </p>
        </div>
    </div>
</body>

</html>

@model Blazor5MultipleApps.Server.Pages.IndexModel
@{
}
